<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'work_shift_list' %}active{% endif %}" href="{% url 'attendance:work_shift_list' %}">
            <i class="bi bi-clock me-2"></i> Danh sách ca làm việc
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'daily_attendance_form' %}active{% endif %}" href="{% url 'attendance:daily_attendance_form' %}">
            <i class="bi bi-calendar-check me-2"></i> Chấm công hàng ngày
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'attendance_detail_list' %}active{% endif %}" href="{% url 'attendance:attendance_detail_list' %}">
            <i class="bi bi-list-check me-2"></i> Bảng chấm công chi tiết
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'attendance_summary' %}active{% endif %}" href="{% url 'attendance:attendance_summary' %}">
            <i class="bi bi-table me-2"></i> Bảng chấm công tổng hợp
        </a>
    </li>
</ul>